* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table,
th,
td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: lightcyan;
}

.my-box p {
    border-style: solid;
    border-width: 1px;
}

.my-box {
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    margin: auto;
    align-content: stretch;
    position: relative;
}